# Python
__pycache__/
*.py[cod]
*$py.class
*.env
venv/
.venv/

# Datos locales generados en ejecución
datos.json

# IDEs y editores
.vscode/
.idea/

# Sistema operativo
Thumbs.db
Desktop.ini
.DS_Store
